/*=================================================================================
|                                 News Styling                                    |
=================================================================================*/
.news-fr1 {

	.news-fr1__container {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}

	.news-fr1__leftCon {
		position: relative;
		width: 50%;
		box-sizing: border-box;
		padding-right: 20px;
		padding-top: 33%;

		img {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			width: 100%;
			height: 100%;
			display: block;
			object-fit: cover;
		}
	}

	.news-fr1__rightCon {
		width: 50%;
		box-sizing: border-box;
		padding-left: 30px;

		h3 {
			font-size: 16px;
			margin-bottom: 24px;
		}

		h5 {
			margin-bottom: 24px;
		}

		p {
			display: -webkit-box;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;
			overflow: hidden;
			max-height: 75px;
			margin-bottom: 24px;
		}
	}
}

.news-fr2 {

	.news-fr2__newsListCon {
		margin-bottom: 22px;
	}

	.news-fr2__newsListWrapper {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(1, 1fr);
		grid-column-gap: 17px;
		grid-row-gap: 22px;
		margin-right: -24px;
		margin-left: -24px;
	}

	.news-fr2__newsCard {
		position: relative;
		width: 100%;
		height: auto;
		overflow: hidden;
		display: block;
		padding: 24px;
		@extend %trans-ease;

		&:hover {
			background-color: $color-white;
			box-shadow: 0 2px 10px 0 rgba($color-black, .25);
		}
	}

	.news-fr2__newsList {

		.news-fr2__newsImgCon {
			position: relative;
			top: 0;
			width: 100%;
			height: 0;
			padding-top: 65%;
			margin-bottom: 14px;
		}

		img {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			width: 100%;
			height: 100%;
			object-fit: cover;
			display: block;
		}

		h5 {
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			overflow: hidden;
			max-height: 52px;
			text-transform: unset;
		}

		h6 {
			margin: 14px 0;
		}

		.newsAr-fr2__descCon {
			display: -webkit-box;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;
			overflow: hidden;
			max-height: 75px;

			* {
				color: #636363 !important;
				font-weight: 400;
			}

			figure {
				display: none;
			}
		}

		strong {
			color: inherit !important;
		}
	}
}





/*=================================================================================
|                              News Article Styling                               |
=================================================================================*/
.newsAr-fr1 {

	.newsAr-fr1__imgCon {
		width: 80%;
		height: 0;
		padding-top: 47%;
		margin-right: auto;
		margin-left: auto;
		margin-bottom: 40px;
		@extend %bg-center-cover-nr;
		@extend %trans-ease;
	}

	.newsAr-fr1__titleCon {

		> h2 {
			margin-bottom: 16px;
			text-transform: unset;
			letter-spacing: 1px;
			line-height: 1.5;
			color: $color-primary1;
		}

		> h5 {
			line-height: 1.5;
			text-transform: unset;
			color: $color-lighterGray;
		}
	}

	.newsAr-fr1__con {

		h5 {
			font-family: $font-secondary;
		}

		a {
			color: $color-primary1;
			text-decoration: underline;
			@extend %trans-ease;

			&:hover {
				color: $color-primary2;
			}
		}
	}

	.page__prev {
		display: inline-block;
		margin-right: 24px;
		margin-top: 40px;
		min-width: 120px;

		span {
			margin-right: 0;
			margin-left: 10px;
		}

		img {
			transform: translateY(-10%) translateX(0%) rotate(180deg);
		}

		&:hover, &.active {
			img {
				transform: translateY(-10%) translateX(-40%) rotate(180deg);
			}
		}
	}
}





@media screen and (max-width: 1024px) {

	.news-fr2 .news-fr2__newsListWrapper {
		grid-template-columns: repeat(2, 1fr);
	}

	.newsAr-fr1 {

		.page-container {
			width: 100%;

			.width--90 {
				width: 100%;
			}

			.newsAr-fr1__titleCon {
				width: 90%;
				margin: auto;
			}

			.page-innerFrame__title {
				width: 90%;
				margin: auto;
			}
		}

		.newsAr-fr1__imgCon {
			width: 100%;
			height: 0;
			padding-top: 75%;
			margin-bottom: 34px;
		}

		.newsAr-fr1__titleCon {

			> h2 {
				font-size: 18px;
			}
		}

		.page-general {
			width: 90%;
		}
	}
}

@media screen and (max-width: 768px) {

	.news-fr1 {

		.page-container {
			width: 100%;

			.width--90 {
				width: 100%;
			}

			.page-innerFrame__title {
				width: 90%;
				margin: auto;
			}
		}

		.news-fr1__leftCon {
			width: 100%;
			padding-right: 0;
			padding-top: 75%;
			margin-bottom: 34px;
		}

		.news-fr1__rightCon {
			width: 90%;
			padding-left: 0;
			margin-right: auto;
			margin-left: auto;

			h3 {
				font-size: 18px;
				font-weight: bold;
				display: -webkit-box;
				-webkit-line-clamp: 3;
				-webkit-box-orient: vertical;
				overflow: hidden;
				max-height: 63px;
			}
		}
	}

	.news-fr2 {

		.news-fr2__newsListCon {
			width: 100%;
		}

		.news-fr2__newsListWrapper {
			grid-template-columns: repeat(1, 1fr);
			margin-right: 0;
			margin-left: 0;
		}
	}
}